@charset "UTF-8";

/* CSS Document */
.angie-content {

    max-width: 85%;

    margin: auto;

    display: flex;

    flex-wrap: nowrap;

    justify-content: center;

}



.angie-content-title-container {

    text-align: center;

    max-width: 40%;

    min-width: 400px;

    margin-bottom: 2rem;

}



.angie-content-title-container div {

    background-color: #BC6868;

    max-width: 90%;

    min-width: 90%;

    margin: auto;

    box-shadow: rgba(255, 55, 55, 0.205) 0px 5px 15px;

    padding: 1rem;

    border-radius: 1rem;

}



.angie-content-title-container h1 {

    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";

    font-size: 3rem;

    max-width: 100%;

    min-width: 100%;

    margin: auto;

    margin-bottom: 1rem;

    text-shadow: 1.5px 1.5px #00000023;

    background-color: #D9B2B2;

}



.angie-content-title-container img {

    max-width: 90%;

    min-width: 50%;

    border-radius: 1rem;

    margin-top: 1rem;

    margin-bottom: 1rem;

    box-shadow: rgba(0, 0, 0, 0.277) 0px 5px 15px;

}



.angie-content-title-container h3 {

    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";

    max-width: 100%;

    min-width: 100%;

    margin: auto;

    text-shadow: 1.5px 1.5px #00000023;

    background-color: #D9B2B2;

    padding: 0.5rem 0rem 0.5rem 0rem;

}



.angie-content-blurb {

    background-color: #BC6868;

    padding: 1rem;

    max-width: 60%;

    min-width: 400px;

    box-shadow: rgba(255, 55, 55, 0.205) 0px 5px 15px;

    border-radius: 1rem;

    text-align: center;

}



.angie-content-blurb-title {

    max-width: 100%;

    min-width: 100%;

    margin: auto;

    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";

    font-size: 2rem;

    background-color: #D9B2B2;

    padding: 0.5rem 0rem 0.5rem 0rem;

}



.angie-content {

    text-align: center;

    margin: auto;

}



.angie-content-blurb article p {

    text-align: start;

    margin: 0.75rem 0.75rem 0.75rem 0.75rem;

}



.large-first-letter {

    font-size: 35px;

    line-height: 0px;

}



@media screen and (max-width: 942px) {

    .angie-content {

        max-width: 95%;

    }



    .angie-content-title-container div {

        max-width: 100%;

        min-width: 100%;

    }



    .angie-content-title-container {

        max-width: 85%;

        min-width: 0px;

    }



    .angie-content-blurb {

        max-width: 90%;

        min-width: 0px;

    }

}